{% extends 'base.html' %}

{% block content %}


<main role="main">

            <h1 class="college"><span>M.B.Govt.P.G. College Blog</span></h1>
            <form class="button" action="https://kunainital.ac.in" >
            <input class="b1" type="submit" value="official site">
            </form>
            <p>this is a college blogging website for students and the teachers,<br>
                 to share their views and any information to the department.<br>
                 this website helps many students and the college faculty , <br>
                 to share any notice and information to the students. 
            </p>
        </header>
        <div class="boxes botany"><form class="button" action="#">
            <input id="b2" type="submit" value="Botany department">
            </form></div>
        <div class="boxes commerce"><form class="button" action="#">
                <input id="b2" type="submit" value="Commerce department">
            </form></div>
        <div class="boxes cs"><form class="button" action="#">
                <input id="b2" type="submit" value="Computer Science department">
                </form></div>
        <div class="boxes geography"><form class="button" action="#">
                    <input id="b2" type="submit" value="Geography department">
                </form></div>
        <div class="boxes history"><form class="button" action="#">
                    <input id="b2" type="submit" value="History department">
                    </form></div>
        <div class="boxes math"><form class="button" action="#">
            <input id="b2" type="submit" value="Mathematics department">
            </form></div>
        <div class="boxes physics"><form class="button" action="#">
                <input id="b2" type="submit" value="Physics department">
                </form></div>
        <div class="boxes yoga"><form class="button" action="#">
            <input id="b2" type="submit" value="Yoga department">
            </form></div>
        </main>
    {% endblock %} 