<!doctype html>
<html>
<head>
</head>
<body background="mbpg1.png" size="cover" >
<h1 align="center" bg-color="blue"><b>M.B. Govt. P. G. College Blog</b></h1>
<h2>This is blog website for the students of M. B. Govt. P. G. College. Students can access to their accounts by logging in and sign in if they don't have an account, then can easily reach to their fellow students of respective departments in the blog sections of the respective department.<br/>You can visit the official website of the Kumaun University by clicking on the button given below.</h2>
<a href="http://kunainital.ac.in" target="_blank" class="btn btn-primary my-2">official site</a>
</body>
</html>